<a href="https://colab.research.google.com/github/aleylani/Python-AI24/blob/main/exercises/03_for_statement_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for statement exercises

---
These are introductory exercises in Python with focus in **for** statement.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Count numbers (*)

Use a **for** statement to count from:

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [61]:
# a
for number in range(-10, 11):
    print(number, end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [62]:
# b
for number2 in range(-10, 11, 2):
    print(number2, end = " ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums:

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [69]:
# a
total_sum = 0

for i in range(1,101):
    total_sum += i

print(total_sum)

5050

In [71]:
# b

total_sum2 = 0

for i in range(1,100,2):
    total_sum2 += i

print(total_sum2)

2500

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**:

```python
print(f"{number}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g.

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [73]:
# a

table = 6
product = 0
for i in range (0,11):
    product = i * table
    print(product, end = " ")

0 6 12 18 24 30 36 42 48 54 60

In [104]:
# b

user_table = int(input("Choose a multiplication table: "))
start = int(input("What number do you want to start the table with?"))
end = int(input("What number do you want the table to end with?"))
user_product = 0

for i in range(start, end + 1):
    user_product = i * user_table
    print(user_product, end = " ")

5 10 15 20 25

In [98]:
# c

for i in range(1,11):
    for j in range(1,11):
        print(f"{i * j:4}", end = " ")
    print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$.

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [89]:

n = int(input("Choose factorial"))
factorial = 1

for i in range(1, n + 1):
    factorial *= i
print(f"The factorial of {n} is {factorial}")

The factorial of 500 is 1220136825991110068701238785423046926253574342803192842192413588385845373153881997605496447502203281863013616477148203584163378722078177200480785205159329285477907571939330603772960859086270429174547882424912726344305670173270769461062802310452644218878789465754777149863494367781037644274033827365397471386477878495438489595537537990423241061271326984327745715546309977202781014561081188373709531016356324432987029563896628911658974769572087926928871281780070265174507768410719624390394322536422605234945850129918571501248706961568141625359056693423813008856249246891564126775654481886506593847951775360894005745238940335798476363944905313062323749066445048824665075946735862074637925184200459369692981022263971952597190945217823331756934581508552332820762820023402626907898342451712006207714640979456116127629145951237229913340169552363850942885592018727433795173014586357570828355780158735432768888680120399882384702151467605445407663535984174430480128938313896881639487469658817504506926365338175055478128640000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

---
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [106]:
import random 

computer_number = random.randint(1000,9999)
attempts = 0

for attempts in range(1000,10000):
    if attempts == computer_number:
        break
print(f"The secret number was {computer_number}")

The secret number was 4884

In [1]:
import random

secret_number = str(random.randint(1000,9999))

attempt = 0

for i in range(1000,10000):
    
    attempt += 1

    guess2 = input("What number do think it is?") 

    if guess2 == secret_number:
        print(f"Wohoo! You have guess correct in {attempt} attempts, the secret number is {secret_number}")
        break

    else:
        print(f"Fail! your guess {guess2} was not correct, this was your {attempt} attempt")


        for j in range(1,4):
            if guess2[j] == secret_number[j]:
                print(f"The number in {j + 1} position is correct")

        print()

Fail! your guess 1111 was not correct, this was your 1 attempt
The number in 4 position is correct

Fail! your guess 2221 was not correct, this was your 2 attempt
The number in 4 position is correct

Fail! your guess 3331 was not correct, this was your 3 attempt
The number in 2 position is correct
The number in 4 position is correct

Fail! your guess 4433 was not correct, this was your 4 attempt

Fail! your guess 4341 was not correct, this was your 5 attempt
The number in 2 position is correct
The number in 4 position is correct

Fail! your guess 5351 was not correct, this was your 6 attempt
The number in 2 position is correct
The number in 4 position is correct

Fail! your guess 6361 was not correct, this was your 7 attempt
The number in 2 position is correct
The number in 4 position is correct

Fail! your guess 7371 was not correct, this was your 8 attempt
The number in 2 position is correct
The number in 3 position is correct
The number in 4 position is correct

Fail! your guess 8371 was not correct, this was your 9 attempt
The number in 2 position is correct
The number in 3 position is correct
The number in 4 position is correct

Fail! your guess 9371 was not correct, this was your 10 attempt
The number in 2 position is correct
The number in 3 position is correct
The number in 4 position is correct

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

<img align="left" src="../assets/chessboard.png" width="300"/>

<details>

<summary>Answer</summary>

```
18446744073709551615 number of grains
```

</details>

In [90]:
grain_of_rice = 1
square = 64
total_grain = 0

for i in range(1,square + 1):
    total_grain += grain_of_rice
    grain_of_rice *= 2
print(total_grain)

18446744073709551615

In [95]:
square2 = 64
total_grain2 = 0

for i in range(0,square2):
    grain_on_current = 2**i
    total_grain2 += grain_on_current
print(f"the total is {total_grain2}")

the total is 18446744073709551615